src/main/mule/api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd ">
    <flow name="apix-servicenow-sapi-main">
        <http:listener path="/api/*" config-ref="apiHttpListenerConfig">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="apiRouterConfig" />
    </flow>
    <flow name="put:\incidents\(incidentID):application\json:apiRouterConfig">
        <flow-ref doc:name="incident-update-flow" doc:id="6bfe89c6-4f8c-406b-9607-edb6a3aceac5" name="incident-update-flow"/>
    </flow>
    <flow name="delete:\incidents\(incidentID):apiRouterConfig">
        <flow-ref doc:name="inciden-delete-flow" doc:id="e8c3dd2b-840f-458a-9ec3-5eec04ddd3dc" name="inciden-delete-flow"/>
    </flow>
    <flow name="get:\incidents\(incidentID):apiRouterConfig">
        <flow-ref doc:name="incident-retrieve-flow" doc:id="ccbf6ff4-cbd9-4cb1-8f45-a424f3999e13" name="incident-retrieve-flow"/>
    </flow>
    <flow name="post:\incidents:application\json:apiRouterConfig">
        <flow-ref doc:name="incident-create-flow" doc:id="e1434302-23f2-48ca-ab2f-8191b5b23fc8" name="incident-create-flow"/>
    </flow>
    <flow name="post:\incidents\retrieveAll:application\json:apiRouterConfig">
        <flow-ref doc:name="retrieve-all-incidents" doc:id="c63cff37-659f-46d7-9b4e-17fc071e0b1c" name="retrieve-all-incidents"/>
    </flow>
</mule>
